<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kht.ecommerce.ecommerce_application.mapper.UserMapper">
    <insert id="insertUser">
        INSERT into  users (email, username, password, firstname, lastname, phone, city, street,street_number, zipcode)
        VALUES (#{email}, #{username}, #{password}, #{firstname}, #{lastname}, #{phone}, #{city}, #{street}, #{streetNumber}, #{zipcode})
    </insert>
    <select id="getByUserId">
        SELECT *
        FROM USERS
        WHERE id= #{id}
    </select>
    <select id="existByEmail">
        SELECT COUNT(*)
        FROM users
        WHERE email = #{email}
    </select>

    <select id="getAllUsers">
        SELECT id, firstname, lastname, phone
        FROM users /* ; 제거 */
    </select>
</mapper>