<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>사용자 목록</title>
  <link href="favicon.ico" rel="icon">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>사용자 목록</h1>
<div id="user-container"></div>

<script>
  $(document).ready(function () {
            $.ajax({
              url: '/api/users',
              method: 'GET',
              success:
              function(data){
                $.each(data, function (key,value){
                  console.log("key : ", key, "value : ", value);
                  $('#user-container').append(
                          `<div class="card">
                        <h3>${value.lastname}${value.firstname}</h3>
                        <p>${value.phone}</p>
                        <a href="/cart?userId=${value.userId}">장바구니 확인하기</a>
                        <a href="/api/user?userId=${value.userId}">유저 정보 보기</a>
                        </div>`
                  )
                })
              },
          error: function () {
            $('#user-container').append('<p>서버에서 데이터를 가져올 수 없습니다.</p>')
               }

        });

  })





</script>
<script src="/user.js"></script>
</body>
</html>